@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chatton</title>

    <meta name="author" content="" lang="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css" media="all">
</head>
<body>
    <div class="wrapper">
        <header>
            <p>Welcome to <span>Chatton</span>    </p>
        </header>
        <div class="main">
            <section class="login">
                <h2>
                    Login
                </h2>
                @model IS_1.Models.User
                <form method="POST" action="">
                    <p><label>Username: <input name="Username" type="text" placeholder="Username" required size="25"></label></p>
                    <p><label>Password: <input name="Password" type="password" required size="25"></label></p>
                    <p><input type="submit" value="Login!" /></p>
                </form>
            </section>
            <section class="register">
                <h2>
                    Register
                </h2>
                <p> It is fast and free. </p>
                @model IS_1.Models.User
                <form method="POST" action="">
                    <p><label>Username: <input name="Username" type="text" placeholder="Username" required size="25"></label></p>
                    <p><label>Password: <input name="Password" type="password" required size="25"></label></p>
                    <p><label>Confirm password: <input name="confirm_password" type="password" required size="25"></label></p>
                    <p>
                        <input type="submit" value="Submit" />
                        <input type="reset" value="Clear" />
                    </p>
                </form>
            </section>
        </div>
        <footer>
            © Jurate & Naty 2016/2017
        </footer>
    </div>
</body>

</html>