@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Index";
}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<head>
    <meta charset="utf-8">
    <title>Chatton</title>

        <meta name="author" content="" lang="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="Shared/style.css" media="all">
</head>

<body>
    <div class="wrapper">
        <header>
            <p>Welcome to <span>Chatton</span>    </p>
        </header>
        <div class="main">
            <section class="login">
                <h2>
                    Login
                </h2>
                <form method="POST" asp-action="Login">
                    <p><label>Username: <input name="username" type="text" placeholder="Username" required size="25"></label></p>
                    <p><label>Password: <input name="password" type="password" required size="25"></label></p>
                    <p><input type="submit" value="Login!" /></p>
                </form>
            </section>
            <section class="register">
                <h2>
                    Register
                </h2>
                <p> It is fast and free. Warning: password security is very low, so we recommend using an easy password.</p>
                <form method="POST" asp-action="Create">
                    <p><label>Username: <input name="Username" type="text" placeholder="Username" required size="25"></label></p>
                    <p><label>Password: <input name="Password1" type="password" required size="25"></label></p>
                    <p><label>Confirm password: <input name="Password2" type="password" required size="25"></label></p>
                    <p>
                        <input type="submit" value="Register" />
                        <!-- <input type="reset" value="Clear" /> -->
                    </p>
                </form>
            </section>
        </div>
        <footer>
            Jurate & Naty 2016/2017
        </footer>
    </div>
</body>
<!-- </html> -->
