@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Index";
}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<head>
    <meta charset="utf-8">
    <title>Chatton</title>

    <meta name="author" content="" lang="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 //   <link rel="stylesheet" href="Shared/style.css" media="all">
    <style>
        body{
  margin: 0 auto;
  max-width:1040px;
  min-width:300px;
}

.wrapper{
  width:100%;
  margin:auto;
}

header{
  float:left;
  width:100%;
  height: 80px;
  padding:10px 0 10px 0;
  background-color: #ffaa80;
  text-align:center;  
}
header p{
  float:left;
  font-size: 24px;
}
header span{
  font-family: "Harlow";
}

.logout{
  float:right;
}

.main{
  display:flex; 
  flex-flow:row-reverse wrap;
  clear:both;
  min-height:400px; 
  background-color:#e6e6e6;
}

section{
  text-align:center;
  margin:1%;
  background-color: #f3f3f3;
}

.login{
  width:auto;
  float: right;
  flex:1;
}

.register{
  float: left;
  width:auto;
  flex:1;   
}

.register form{
  text-align:right;
  padding-right:20%;
}

footer{
  clear:both;
  background-color: #ffaa80;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
    </style>
</head>

<body>
    <div class="wrapper">
        <header>
            <p>Welcome to <span>Chatton</span>    </p>
        </header>
        <div class="main">
            <section class="login">
                <h2>
                    Login
                </h2>
                <form method="POST" asp-action="Login">
                    <p><label>Username: <input asp-for="username" type="text" placeholder="Username" required size="25"></label></p>
                    <p><label>Password: <input asp-for="password" type="password" required size="25"></label></p>
                    <p><input type="submit" value="Login!" /></p>
                </form>
            </section>
            <section class="register">
                <h2>
                    Register
                </h2>
                <p> It is fast and free. Warning: password security is very low, so we recommend using an easy password.</p>
                <form method="POST" asp-action="Create">
                    <div>
                        <div>
                            <p><label>Username: <input asp-for="Username" type="text" placeholder="Username" required size="25"></label></p>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div>
                            <p><label>Password: <input asp-for="Password1" type="password" required size="25"></label></p>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div>
                            <p><label>Confirm password: <input asp-for="Password2" type="password" required size="25"></label></p>
                        </div>
                       <!-- <p> --> 
                            <input type="submit" value="Register" />
                            <!-- <input type="reset" value="Clear" /> -->
                       <!-- </p> --> 
                    </div> 
                    
                </form>
            </section>
        </div>
        <footer>
             Jurate & Naty 2016/2017
        </footer>
    </div>
</body>
<!-- </html> -->
