@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    Next: let's try to exclude the database and THEN try it again.
    Both with this window and without it
*@
    
@{
    ViewData["Title"] = "Login";
}
<p><a href="messages/index.html">Successfully logged in!</p>
