<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <!-- <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;"/>
    neuzbaigta!
  </connectionStrings>
  -->
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
 <!-- <system.serviceModel>
    <services>
      <service name="WebApplication1.Service1">
        <endpoint
          address=""
          behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding"
          bindingConfiguration=""
          name="Service1"
          contract="WebApplication1.IService1" 
          />
        <host>
          <baseAddress>
           <add baseAddress="http://chatton.somee.com/api/" />
           </baseAddress>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel> -->
</configuration>
