<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chatton</title>
    
    <meta name="author" content="" lang="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p class="welcome">Welcome, you are logged in as .......<b></b></p>
        <p class="logout"><a id="exit" href="index.html">Exit Chat</a></p>
      </header>
      
      <div id="chatbox">
        <form>
          <input name="message" type="text" placeholder="Write your message here..." size="70">
          <input type="submit" value="Send">
        </form>
      </div>
      
    </div>
  </body>
</html>  
